@model IEnumerable<JobApplication>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<div style="display: flex; margin-top: 90px; margin-left: 120px; flex-direction: row;">
    <div class="szukaj">
        <div class="szukajtextbox">
            <input type="text" class="szukajka" placeholder="Szukaj...">
            <button class="searchbutton"><img src="~/obrazki/szukaj.png"></button>
        </div>
        <div class="filtrbutton" id="dupal" onclick="myFunction()">
            <div class="filtrtext">Pokaż filtry</div>
            <div class="filtrarrow" id="arrow"><img src="~/obrazki/rightarrow.png"></div>
        </div>
    </div>
</div>

<div class="szukajexpand" id="szukajexpand">
    <div class="linia"></div>
    <div class="dziedzina">Dziedzina</div>
    <input type="text" class="dziedzinatext">
    <div class="pozycja">Pozycja</div>
    <input type="text" class="pozycjatext">
    <div class="miasto">Miasto</div>
    <input type="text" class="miastotext">
    <div class="zarobki">Zarobki</div>
    <input type="text" class="zarobkitext">
</div>

@if (Model != null)
{
<div class="cvlist">
    @foreach (JobApplication application in Model)
    {
        <div class="cv">
            <div class="cvtitle">CV</div>
            <div class="cvsummary">
                <div class="cvtitle2">@application.JobOffer.JobTitle</div>
                <div class="cvimie">Imię kandydata:</div>
                <div class="cvimietext">@application.FirstName</div>
                <div class="cvnazwisko">Nazwisko kandydata: </div>
                <div class="cvnazwiskotext">@application.LastName</div>
            </div>
            <div class="cvid">
                <div class="cvidoferty">id oferty:</div>
                <div class="cvidofertytext">@application.JobOffer.Id</div>
                <div class="cvidkandydata">id kandydata:</div>
                <div class="cvidkandydatatext">@application.Id</div>
                <div class="details" onclick="myFunction1(@application.Id, @(int.MaxValue - application.Id))">Szczegóły</div>
                <div class="smallarrowdown" id="@(int.MaxValue - application.Id)"><img src="obrazki/smallarrowdown.png"></div>
            </div>
        </div>
        <div class="cvexpand" id=@application.Id>
            <div class="cvline1"></div>
            <div class="wyksztalcenie">Wyksztalcenie:</div>
            <div class="wyksztalcenietext">@application.Education</div>
            <div class="umiejetnosci">Umiejętności:</div>
            <div style="width: 700px; word-wrap: break-word;" class="umiejetnoscitext">@application.Skills</div>
            <div class="zainteresowania">Zainteresowania:</div>
            <div style="width: 700px; word-wrap: break-word;" class="zainteresowaniatext">@application.Hobbies</div>
            <div class="jezyki">Znane języki:</div>
            <div style="width: 500px; word-wrap: break-word;" class="jezykitext">@application.Languages</div>
            <div class="adres">Adres:</div>
            <div class="adrestext">@application.Address</div>
            <div class="adres" style="grid-row: 7;">Adres email:</div>
            <div class="adrestext" style="margin-left: 60px; width: 500px; grid-row: 7;">@application.EmailAddress</div>
            <div class="adres" style="grid-row: 8;">Numer telefonu:</div>
            <div class="adrestext" style="margin-left: 60px; width: 500px; grid-row: 8;">@application.PhoneNumber</div>
            <div class="cvline2" style="grid-row: 9"></div>
            <div class="zalaczonepliki" style="grid-row: 10;">Załączone pliki:</div>
            <div class="zalaczoneplikicontent" style="grid-row: 11;">
                <div class="zalaczonyplik">1. jeden.pdf</div>
                <div class="zalaczonyplik">2. dwa.jpg</div>
                <div class="zalaczonyplik">3. teksty.pdf</div>
            </div>
            <a class="firmamodyfikuj changebutton" style="grid-row: 11; grid-column: 3; right: 0px; bottom: 0px; padding: 0px;" asp-action="AddApplication" asp-route-applicationId="@application.Id" asp-route-jobOfferId="@application.JobOffer.Id">Zmień</a>
            <form class="deletebutton" style="grid-row: 11; grid-column:3;" asp-action="DeleteApplication" method="post">
                <input type="hidden" name="ID" value="@application.Id" />
                <button type="submit" class="firmausun" style="cursor: pointer;">Usuń</button>
            </form>
        </div>
    }
</div>
}
