@model IEnumerable<JobApplication>
@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; margin-top: 90px; margin-left: 120px; flex-direction: row;">
    <div class="szukaj" style=" width: 1200px;">
        <div class="szukajtextbox">
            <input type="text" class="szukajka" id="szukajka" placeholder="Szukaj...">
            <button class="searchbutton" onclick="applyFilter()"><img src="~/obrazki/szukaj.png"></button>
        </div>
        <div class="filtrbutton" id="identyfikator" onclick="myFunction()">
            <div class="filtrtext">Pokaż filtry</div>
            <div class="filtrarrow" id="arrow"><img src="~/obrazki/rightarrow.png"></div>
        </div>
    </div>
</div>

<div class="szukajexpandbig" id="szukajexpand" style="margin-left: 120px;">
    <div class="linia"></div>
    <div class="dziedzina">Dziedzina</div>
    <input type="text" class="dziedzinatext" id="category">
    <div class="pozycja">Pozycja</div>
    <input type="text" class="pozycjatext" id="position">
    <div class="miasto">Miasto</div>
    <input type="text" class="miastotext" id="city">
    <div class="zarobki">Zarobki</div>
    <input type="text" class="zarobkitext" id="zarobki">
    <div class="imie">Imię</div>
    <input type="text" class="imietext" id="firstname">
    <div class="nazwisko">Nazwisko</div>
    <input type="text" class="nazwiskotext" id="lastname">
</div>

@if (Model != null)
{
    <div class="cvlist" id="hrid">
    </div>
}

<div style="display: flex; position: absolute; right: 100px; margin-top: 50px;" id="pageid">
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = '@Startup.Configuration["ApiAddress"]' + '/api/JobApplications';
    var changeUri = '@Url.Action("AddApplication")';
    var pageSize = 6;
    var pageNo = 1;
    var nElems = 0;
    var filter = "";
    var category = "";
    var position = "";
    var city = "";
    var zarobki = "";
    var firstName = "";
    var lastName = "";
    @{ string userType = @User.HasClaim(x => x.Type == "extension_IsHR" && x.Value == "true") ? "HR" : @User.HasClaim(x => x.Type == "extension_IsAdmin" && x.Value == "true") ? "Admin" : "User"; }
    var buttons;
    var userType = '@userType'
    var email = '@User.Claims.FirstOrDefault(x => x.Type == "emails")?.Value'
    var request = $.ajax({
            url: uri,
            type: 'GET',
            data: { pageSize: pageSize, pageNo: pageNo, userType: userType, email: email },
            contentType: 'application/json; charset=utf-8'
        });
     var nElemsRequest = $.ajax({
        url: uri + '/JobApplicationsCount',
         type: 'GET',
         data: { userType: userType, email: email },
         contentType: 'application/json; charset=utf-8'
    });

    $(document).ready(function () {
            nElemsRequest.done(function (data) {
                nElems = data;
                var paging = "";
                for (var i = 1; i <= Math.ceil(nElems / pageSize); i++) {
                    if(i == pageNo)
                        paging += '<button style="border: 1px solid black; background-color: lightpink; width: 30px; height: 30px;" id="page' + i + '" onclick="changePage(' + i +')">' + i + '</button>';
                    else
                        paging += '<button style="border: 1px solid black; background-color: white; height: 30px; width: 30px;" id="page' + i + '" onclick="changePage(' + i +')">' + i + '</button>';
                }
                var d1 = document.getElementById('pageid');
                d1.insertAdjacentHTML('beforeend', paging);
            });
            request.done(function (data) {
                $.each(data, function (key, item) {
                    result = loadData(item);
                                    
                    var d1 = document.getElementById('hrid');
                    d1.insertAdjacentHTML('beforeend', result);
            });
    });
        })

        function deleteItem(id) {
            var delUri = '@Startup.Configuration["ApiAddress"]' + '/api/JobApplications/' + id;
            $.ajax({
                url: delUri,
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var collection = document.getElementsByClassName(id);
                    collection[0].remove();
                    collection[0].remove();
                },
                error: function (data) {
                    window.alert("Nie można usunąć!");
                }
            });
    }

    function changePage(page) {
        document.getElementById("page" + pageNo).style.backgroundColor = "white";
        document.getElementById("page" + page).style.backgroundColor = "lightpink";
        pageNo = page;
        document.getElementById("hrid").innerHTML = "";

        request = $.ajax({
            url: uri,
            type: 'GET',
            data: {
                pageSize: pageSize,
                pageNo: pageNo,
                filter: filter,
                category: category,
                position: position,
                city: city,
                firstName: firstName,
                lastName: lastName, userType: userType, email: email
            },
            contentType: 'application/json; charset=utf-8'
        });

        request.done(function (data) {
            $.each(data, function (key, item) {
                result = loadData(item);

                var d1 = document.getElementById('hrid');
                d1.insertAdjacentHTML('beforeend', result);
            });
        });
    }

    function applyFilter() {
        filter = document.getElementById("szukajka").value;
        category = document.getElementById("category").value;
        position = document.getElementById("position").value;
        city = document.getElementById("city").value;
        zarobki = document.getElementById("zarobki").value;
        firstName = document.getElementById("firstname").value;
        lastName = document.getElementById("lastname").value;

        document.getElementById("hrid").innerHTML = "";
        document.getElementById("pageid").innerHTML = "";
        pageNo = 1;

        $.ajax({
            url: uri + '/JobApplicationsCount',
            type: 'GET',
            data: { filter: filter, category: category, position: position, city: city, lastName: lastName, firstName: firstName, userType: userType, email: email  },
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            nElems = data;
            var paging = "";
            for (var i = 1; i <= Math.ceil(nElems / pageSize); i++) {
                if(i == pageNo)
                    paging += '<button style="border: 1px solid black; background-color: lightpink; width: 30px; height: 30px;" id="page' + i + '" onclick="changePage(' + i +')">' + i + '</button>';
                else
                    paging += '<button style="border: 1px solid black; background-color: white; height: 30px; width: 30px;" id="page' + i + '" onclick="changePage(' + i +')">' + i + '</button>';
            }
            var d1 = document.getElementById('pageid');
            d1.insertAdjacentHTML('beforeend', paging);
        });

        $.ajax({
            url: uri,
            type: 'GET',
            data: { pageSize: pageSize, pageNo: pageNo, filter: filter, category: category, position: position, city: city, lastName: lastName, firstName: firstName, userType: userType, email: email  },
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            $.each(data, function (key, item) {
                result = loadData(item);

                var d1 = document.getElementById('hrid');
                d1.insertAdjacentHTML('beforeend', result);
            });
        });
    }

    function acceptCV(id) {
        $.ajax({
            url: uri + '/' + id,
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            $('.applicationBtns.' + id.toString())[0].innerHTML = '<p style="color: green; ">Zaakceptowane</p>';
        });
    }

    function loadData(item) {
        var result;
        var buttons;
        var fileName = "";
        var link = "";
        if (item.fileName != "") {
            fileName = item.fileName;
            link = 'https://appkacvstorage.blob.core.windows.net/myblobson/' + fileName;
        }

        var insertVal = userType != "Admin" ? "onclick = \"myFunction1(" + item.id + "," + (300000 + item.id) + ") \"" : " ";
        if (userType == "User") {
            if (item.accepted) {
                buttons = `<p style="color: green;">Zaakceptowane</p>
                           <a class="firmamodyfikuj" style="cursor: pointer; right: 0px; bottom: 0px; padding: 0px;" href="` + changeUri + `/` + item.id + `">Zmień</a>
                           <button class="firmausun" style="cursor: pointer;" onClick="deleteItem(` + item.id + `)">Usuń</button>`
            }
            else {
                buttons = ` <a class="firmamodyfikuj" style="cursor: pointer; right: 0px; bottom: 0px; padding: 0px;" href="` + changeUri + `/` + item.id + `">Zmień</a>
                            <button class="firmausun" style="cursor: pointer;" onClick="deleteItem(` + item.id + `)">Usuń</button>`
            }

        }
        else if (userType == "HR") {
            if (item.accepted) {
                buttons = `<p style="color: green;">Zaakceptowane</p>`;
            }
            else {
                buttons = `<a class="firmamodyfikuj changebutton" style="cursor: pointer; grid-row: 11; grid-column: 3; right: 0px; bottom: 0px; padding: 0px;" onClick="acceptCV(` + item.id + `)">Akceptuj</a>`
            }
}
        result = `<div class="cv ` + item.id + `">
                    <div class="cvtitle">CV</div>
                    <div class="cvsummary">
                        <div class="cvtitle2">` + item.jobOffer.jobTitle + `</div>
                        <div class="cvimie">Imię kandydata:</div>
                        <div class="cvimietext">` + item.firstName + `</div>
                        <div class="cvnazwisko">Nazwisko kandydata: </div>
                        <div class="cvnazwiskotext">` + item.lastName + `</div>
                    </div>
                    <div class="cvid">
                        <div class="cvidoferty">id oferty:</div>
                        <div class="cvidofertytext">` + item.jobOffer.id + `</div>
                        <div class="cvidkandydata">id kandydata:</div>
                        <div class="cvidkandydatatext">` + item.id + `</div>
                        <div class="details" ` + insertVal + `>Szczegóły</div>
                        <div class="smallarrowdown" id="` + (300000 + item.id) + `"><img src="obrazki/smallarrowdown.png"></div>
                    </div>
                    </div>
                    <div class="cvexpand `+ item.id + `" id="` + item.id + `">
                        <div class="cvline1"></div>
                        <div class="wyksztalcenie">Wyksztalcenie:</div>
                        <div class="wyksztalcenietext">` + item.education + `</div>
                        <div class="umiejetnosci">Umiejętności:</div>
                        <div style="width: 700px; word-wrap: break-word;" class="umiejetnoscitext">` + item.skills + `</div>
                        <div class="zainteresowania">Zainteresowania:</div>
                        <div style="width: 700px; word-wrap: break-word;" class="zainteresowaniatext">` + item.hobbies + `</div>
                        <div class="jezyki">Znane języki:</div>
                        <div style="width: 500px; word-wrap: break-word;" class="jezykitext">` + item.languages + `</div>
                        <div class="adres">Adres:</div>
                        <div class="adrestext">` + item.address + `</div>
                        <div class="adres" style="grid-row: 7;">Adres email:</div>
                        <div class="adrestext" style="margin-left: 60px; width: 500px; grid-row: 7;">` + item.emailAddress + `</div>
                        <div class="adres" style="grid-row: 8;">Numer telefonu:</div>
                        <div class="adrestext" style="margin-left: 60px; width: 500px; grid-row: 8;">` + item.phoneNumber + `</div>
                        <div class="cvline2" style="grid-row: 9"></div>
                        <div class="zalaczonepliki" style="grid-row: 10;">Załączony plik:</div>
                        <div class="zalaczoneplikicontent" style="grid-row: 11; margin-bottom: 0px;">
                            <a class="zalaczonyplik" id="zalaczonyplik" href=` + link + ` download>` + fileName +`</a>
                        </div>
                        <div class="applicationBtns ` + item.id + `" style="grid-row: 11; grid-column: 3">
                            ` + buttons + `
                        </div>
                    </div>
            `;
        return result;
    }
</script>
